html, .user {
    height: 100%;
}

.user {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100%;
}

.user .gracias {
    height: 225px;
    width: 300px;
    display: flex;
    padding: 10px;
    background-color: rgba(356,356,356,.5);
    align-items: center;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.user .gracias h1 {
    font-size: 22px;
}


@media(min-width: 768px) {

    .user .gracias {
        height: 275px;
        width: 400px;
        display: flex;
        padding: 10px;
        background-color: rgba(356,356,356,.5);
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    .user .gracias h1 {
        font-size: 24px;
    }
}